.left-side {
  background-color: #3e8e41; /* Color de fondo verde */
  display: flex;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  padding: 20px;
  height: 100%;
  width: 35%;
}

.content {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: white;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.action-button {
  width: 200px;
  margin: 10px;
}
